/* --------------- UNIVERSAL --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source sans pro', helvetica, arial, sans-serif;
}

body {
  background-color: #eee;
}

.shadow {
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
  -o-filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,.5));
}

button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 5px 5px;
  text-align: center;
  width: 100px;
  margin-left: 20px;
  outline: none;
}

button:hover {
  border: 1px solid #000;
  background-color: #e0e0e0;
  color: #000;
  outline: none;
}

p {
  text-align: justify;
}

/* --------------- HEADER --------------- */

#logo {
  height: 75px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-image: url('http://static.tumblr.com/7bljswk/yHQm2pths/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  z-index: 1000;
}

nav {
  width: 100%;
  position: relative;
  top: -25px;
  left: 0;
  border-top: 1px solid #ccc;
  background-color: #ccc;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  padding: 2px 0 3px 40px;
  font-weight: 400;
  display: inline-block;
  color: #000;
}

/* --------------- MAIN --------------- */

main {
  width: 60%;
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto 100px auto;
}

section {
  margin-bottom: 30px;
}

input {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid black;
  font-size: 1.5em;
  margin: 10px 0;
  display: inline-block;;
  width: calc(99% - 122px);
  outline: none;
}

/* --------------- FOOTER --------------- */

footer {
  width: 100%;
  background-color: #ccc;
  position: fixed;
  bottom: 0;
}

.inventory, .balance {
  display: inline-block;
  width: 40%;
  position: relative;
  top: 0;
  margin: 10px 4%;
}

.inventory {
  left: 0;
}

.balance {
  right: 0;
  text-align: right;
}
